footer {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    place-items: center;

    div {
        color: white;
        position: absolute;
        margin-bottom: 1%;
    }
}